html, body
{
   height: 100%;
}
div#space
{
   width: 1px;
   height: 50%;
   margin-bottom: -607px;
   float:left
}
div#container
{
   width: 1019px;
   height: 1215px;
   margin: 0 auto;
   position: relative;
   clear: left;
}
body
{
   background-color: #FFF0F5;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Image3
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Shape2
{
   border-width: 0;
}
#Shape1
{
   border-width: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#TextArt1
{
   border-width: 0;
}
#wb_FontAwesomeIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
   text-align: center;
   padding: 0px 0px 0px 0px;
}
#wb_FontAwesomeIcon2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
}
#FontAwesomeIcon2
{
   height: 43px;
   width: 45px;
}
#FontAwesomeIcon2 i
{
   color: #8A2BE2;
   display: inline-block;
   font-size: 43px;
   line-height: 43px;
   vertical-align: middle;
   width: 40px;
}
#wb_FontAwesomeIcon2:hover i
{
   color: #337AB7;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text4 div
{
   text-align: center;
}
#wb_FontAwesomeIcon4
{
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
   text-align: center;
   padding: 0px 0px 0px 0px;
}
#wb_FontAwesomeIcon4:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
}
#FontAwesomeIcon4
{
   height: 44px;
   width: 41px;
}
#FontAwesomeIcon4 i
{
   color: #8A2BE2;
   display: inline-block;
   font-size: 41px;
   line-height: 44px;
   vertical-align: middle;
   width: 40px;
}
#wb_FontAwesomeIcon4:hover i
{
   color: #337AB7;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_FontAwesomeIcon5
{
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
   text-align: center;
   padding: 0px 0px 0px 0px;
}
#wb_FontAwesomeIcon5:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
}
#FontAwesomeIcon5
{
   height: 43px;
   width: 47px;
}
#FontAwesomeIcon5 i
{
   color: #8A2BE2;
   display: inline-block;
   font-size: 43px;
   line-height: 43px;
   vertical-align: middle;
   width: 37px;
}
#wb_FontAwesomeIcon5:hover i
{
   color: #337AB7;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#Image1
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_FontAwesomeIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
   text-align: center;
   padding: 0px 0px 0px 0px;
}
#wb_FontAwesomeIcon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
}
#FontAwesomeIcon1
{
   height: 43px;
   width: 52px;
}
#FontAwesomeIcon1 i
{
   color: #8A2BE2;
   display: inline-block;
   font-size: 43px;
   line-height: 43px;
   vertical-align: middle;
   width: 34px;
}
#wb_FontAwesomeIcon1:hover i
{
   color: #337AB7;
}
#wb_FontAwesomeIcon3
{
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
   text-align: center;
   padding: 0px 0px 0px 0px;
}
#wb_FontAwesomeIcon3:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
}
#FontAwesomeIcon3
{
   height: 44px;
   width: 37px;
}
#FontAwesomeIcon3 i
{
   color: #8A2BE2;
   display: inline-block;
   font-size: 37px;
   line-height: 44px;
   vertical-align: middle;
   width: 31px;
}
#wb_FontAwesomeIcon3:hover i
{
   color: #337AB7;
}
#Image2
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image4
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image5
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text11 div
{
   text-align: center;
}
#wb_FontAwesomeIcon1
{
   position: absolute;
   left: 454px;
   top: 125px;
   width: 52px;
   height: 43px;
   text-align: center;
   z-index: 14;
}
#wb_uid1
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_FontAwesomeIcon2
{
   position: absolute;
   left: 9px;
   top: 125px;
   width: 45px;
   height: 43px;
   text-align: center;
   z-index: 7;
}
#wb_uid2
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_Text1
{
   position: absolute;
   left: 943px;
   top: 139px;
   width: 39px;
   height: 16px;
   z-index: 3;
   text-align: left;
}
#Shape1
{
   width: 1022px;
   height: 43px;
}
#wb_FontAwesomeIcon3
{
   position: absolute;
   left: 982px;
   top: 124px;
   width: 37px;
   height: 44px;
   text-align: center;
   z-index: 15;
}
#wb_uid3
{
   color: #7B68EE;
   font-family: Comic Sans MS;
   font-size: 32px;
}
#wb_Text2
{
   position: absolute;
   left: 54px;
   top: 138px;
   width: 90px;
   height: 16px;
   z-index: 4;
   text-align: left;
}
#Shape2
{
   width: 1022px;
   height: 114px;
}
#wb_Image1
{
   position: absolute;
   left: 9px;
   top: 17px;
   width: 103px;
   height: 81px;
   z-index: 13;
}
#wb_uid4
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_FontAwesomeIcon4
{
   position: absolute;
   left: 222px;
   top: 124px;
   width: 41px;
   height: 44px;
   text-align: center;
   z-index: 9;
}
#wb_Text3
{
   position: absolute;
   left: 502px;
   top: 139px;
   width: 122px;
   height: 16px;
   z-index: 5;
   text-align: left;
}
#wb_Image2
{
   position: absolute;
   left: 624px;
   top: 224px;
   width: 407px;
   height: 312px;
   z-index: 16;
}
#wb_uid5
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_FontAwesomeIcon5
{
   position: absolute;
   left: 695px;
   top: 125px;
   width: 47px;
   height: 43px;
   text-align: center;
   z-index: 11;
}
#wb_Text4
{
   position: absolute;
   left: 315px;
   top: 179px;
   width: 427px;
   height: 45px;
   text-align: center;
   z-index: 8;
}
#wb_uid6
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_Text5
{
   position: absolute;
   left: 276px;
   top: 139px;
   width: 137px;
   height: 16px;
   z-index: 10;
   text-align: left;
}
#wb_Image3
{
   position: absolute;
   left: 34px;
   top: 224px;
   width: 461px;
   height: 312px;
   z-index: 0;
}
#Html1
{
   position: absolute;
   left: 281px;
   top: 934px;
   width: 460px;
   height: 238px;
   z-index: 23;
}
#wb_uid7
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_Text6
{
   position: absolute;
   left: 34px;
   top: 536px;
   width: 296px;
   height: 16px;
   z-index: 19;
   text-align: left;
}
#wb_Image4
{
   position: absolute;
   left: 34px;
   top: 572px;
   width: 461px;
   height: 272px;
   z-index: 17;
}
#wb_uid8
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_Text7
{
   position: absolute;
   left: 34px;
   top: 844px;
   width: 296px;
   height: 16px;
   z-index: 20;
   text-align: left;
}
#wb_Image5
{
   position: absolute;
   left: 626px;
   top: 572px;
   width: 396px;
   height: 272px;
   z-index: 18;
}
#wb_uid10
{
   color: #7B68EE;
   font-family: Comic Sans MS;
   font-size: 32px;
}
#wb_uid9
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_Text10
{
   position: absolute;
   left: 626px;
   top: 536px;
   width: 296px;
   height: 16px;
   z-index: 22;
   text-align: left;
}
#wb_Text8
{
   position: absolute;
   left: 626px;
   top: 844px;
   width: 296px;
   height: 16px;
   z-index: 21;
   text-align: left;
}
#wb_Text11
{
   position: absolute;
   left: 298px;
   top: 880px;
   width: 427px;
   height: 45px;
   text-align: center;
   z-index: 24;
}
#wb_Text9
{
   position: absolute;
   left: 742px;
   top: 139px;
   width: 121px;
   height: 16px;
   z-index: 12;
   text-align: left;
}
#wb_TextArt1
{
   position: absolute;
   left: 118px;
   top: 22px;
   width: 856px;
   height: 71px;
   z-index: 6;
}
#TextArt1
{
   width: 856px;
   height: 71px;
}
#wb_Shape1
{
   position: absolute;
   left: 0px;
   top: 125px;
   width: 1022px;
   height: 43px;
   z-index: 2;
}
#wb_Shape2
{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 1022px;
   height: 114px;
   z-index: 1;
}
#wb_uid0
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
